@import url('./general.css');

/*Codigo robado para sacar flechas
de aumento y decreción*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/*Estilo div y elemento*/
.data-input{
    border-left: 2px solid  #ae9f98;
    border-right: 2px solid  #ae9f98;
    padding: 10px;
    background-color: #ab591a;
    margin: 5px;
    border-radius: 25px;
}

.number-input{
    height: 3em;
    width: 100%;
    background: none;
    border-style: none;
    font-size: 1.3em;
    font-family: 'Lato', Roboto;
    font-weight: bold;
    color: #222;
    -webkit-user-select: none;
}

.number-input::placeholder{
    color: rgb(68, 35, 11);
    
}

/*Estilos pseudoclases*/
.number-input:focus{
    outline: none;
}

/*Termina*/